In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as stats
import datetime
import json

In [3]:
data = pd.read_csv("Country GDP by year in USD 1960 to 2015.csv")

In [4]:
data = data.melt(col_level=0, id_vars=["Country Name", "Country Code"])

In [5]:
data

           Country Name Country Code variable         value
0                 Aruba          ABW     1960           NaN
1               Andorra          AND     1960           NaN
2           Afghanistan          AFG     1960  5.377778e+08
3                Angola          AGO     1960           NaN
4               Albania          ALB     1960           NaN
...                 ...          ...      ...           ...
14779       Yemen, Rep.          YEM     2015           NaN
14780      South Africa          ZAF     2015  3.127980e+11
14781  Congo, Dem. Rep.          COD     2015  3.523774e+10
14782            Zambia          ZMB     2015  2.120156e+10
14783          Zimbabwe          ZWE     2015  1.389294e+10

[14784 rows x 4 columns]

In [6]:
data = data[data['value'].notna()]

In [12]:
data['Country Name'].unique()

array(['Afghanistan', 'Australia', 'Austria', 'Burundi', 'Belgium',
       'Benin', 'Burkina Faso', 'Bangladesh', 'Bahamas, The', 'Belize',
       'Bermuda', 'Bolivia', 'Brazil', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Rep.', 'Colombia',
       'Costa Rica', 'Caribbean small states', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia', 'Ecuador', 'Euro area', 'Spain',
       'European Union', 'Finland', 'Fiji', 'France', 'Gabon',
       'United Kingdom', 'Ghana', 'Greece', 'Guatemala', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'IBRD only',
       'IDA & IBRD total', 'IDA total', 'IDA blend', 'IDA only', 'India',
       'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Kenya', 'Cambodia',
       'St. Kitts and Nevis', 'Korea, Rep.',
       'Latin America & Caribbean (excluding high income)', 'Liberia',
       'Latin America & Caribbean', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Luxembourg', 'Morocco', 'Madagascar', 'Mexico', 'Middle income',
       'Mauritania', 'Malawi', 'Malaysia', 'North America', 'Niger',
       'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'OECD members', 'Pakistan', 'Panama', 'Peru',
       'Philippines', 'Papua New Guinea', 'Pre-demographic dividend',
       'Puerto Rico', 'Portugal', 'Post-demographic dividend', 'Rwanda',
       'South Asia', 'Sudan', 'Senegal', 'Singapore', 'Sierra Leone',
       'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
       'Suriname', 'Sweden', 'Swaziland', 'Seychelles',
       'Syrian Arab Republic', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Turkey', 'Uganda', 'Upper middle income', 'Uruguay',
       'United States', 'St. Vincent and the Grenadines', 'Venezuela, RB',
       'Virgin Islands (U.S.)', 'World', 'South Africa',
       'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe', 'Argentina',
       'Equatorial Guinea', 'Brunei Darussalam', 'Egypt, Arab Rep.',
       'Jordan', 'Kuwait', 'New Caledonia', 'Oman', 'Paraguay',
       'French Polynesia', 'El Salvador', 'Tunisia', 'Gambia, The',
       'Indonesia', 'Mali', 'Solomon Islands', 'Arab World',
       'Middle East & North Africa', 'Saudi Arabia', 'Andorra', 'Cuba',
       'Germany', 'Guinea-Bissau', 'Greenland', 'Kiribati',
       'Liechtenstein', 'Monaco', 'Malta', 'Qatar', 'Small states',
       'United Arab Emirates', 'Cyprus', 'Other small states',
       'Pacific island small states', 'Tonga', 'Mauritius',
       'Antigua and Barbuda', 'Dominica', 'Grenada', 'St. Lucia',
       'Vanuatu', 'Bulgaria', 'Bahrain', 'Barbados', 'Bhutan', 'Comoros',
       'Cabo Verde', 'Maldives', 'Mozambique', 'Namibia', 'Ethiopia',
       'Marshall Islands', 'Mongolia', 'Macao SAR, China', 'Samoa',
       'Micronesia, Fed. Sts.', 'Albania', 'Lao PDR', 'Angola',
       'Djibouti', 'Least developed countries: UN classification',
       'Vietnam', 'Guinea', 'Romania', 'Turkmenistan', 'Ukraine',
       'Lebanon', 'Low income', 'Tanzania',
       'Europe & Central Asia (excluding high income)',
       'Russian Federation',
       'Europe & Central Asia (IDA & IBRD countries)', 'Armenia',
       'Azerbaijan', 'Belarus', 'Central Europe and the Baltics',
       'Czech Republic', 'Georgia', 'Kazakhstan', 'Kyrgyz Republic',
       'Libya', 'Moldova', 'Macedonia, FYR', 'Palau', 'Poland',
       'Slovak Republic', 'Tajikistan', 'Tuvalu', 'Uzbekistan',
       'Yemen, Rep.', 'Haiti', 'Hungary', 'Eritrea',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)', 'Aruba',
       'Bosnia and Herzegovina', 'West Bank and Gaza', 'Estonia',
       'Croatia', 'Isle of Man', 'Lithuania', 'Latvia', 'Serbia',
       'Slovenia', 'Cayman Islands', 'Channel Islands', 'Faroe Islands',
       'San Marino', 'Fragile and conflict affected situations', 'Kosovo',
       'Montenegro', 'Timor-Leste', 'Sao Tome and Principe',
       'South Sudan', 'Myanmar', 'Somalia'], dtype=object)

In [8]:
gdp = data

In [9]:
csv = "obesity-cleaned.csv"

In [10]:
obesity_df = pd.read_csv(csv)

In [11]:
obesity_df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Republic of North Macedonia', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
obesity_df['Country'].replace(to_replace=['Bolivia (Plurinational State of)','Bahamas','Congo','United Kingdom of Great Britain and Northern Ireland','Iran (Islamic Republic of)','Saint Kitts and Nevis','Republic of Korea','United States of America','Egypt','Gambia','Saint Lucia'], value=['Bolivia','Bahamas, The','Congo, Rep','United Kingdom','Iran, Islamic Rep.','St. Kitts and Nevis','Korea, Rep.','United States','Egypt, Arab Rep.','Gambia, The','St. Lucia'], inplace=True)
obesity_df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Rep', 'Cook Islands', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Korea, Rep.',
       'Republic of Moldova', 'Republic of North Macedonia', 'Romania',
       'Russian Federation', 'Rwanda', 'St. Kitts and Nevis', 'St. Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
obesity_df = obesity_df.drop(columns=['Unnamed: 0'])

In [21]:
obesity_df.rename(columns={'Obesity (%)' : 'Obesity_percentage'}, inplace=True)

In [22]:
obesity_df['Obesity_percentage'] = obesity_df['Obesity_percentage'].apply(lambda x: (x.split()[0]))

In [23]:
clean_df = obesity_df[obesity_df["Obesity_percentage"] != "No"]

In [24]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24066 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             24066 non-null  object
 1   Year                24066 non-null  int64
 2   Obesity_percentage  24066 non-null  object
 3   Sex                 24066 non-null  object
dtypes: int64(1), object(3)
memory usage: 940.1+ KB

In [25]:
clean_df['Obesity_percentage'] = clean_df['Obesity_percentage'].apply(lambda x: float(x))

In [26]:
clean_df.head()

       Country  Year  Obesity_percentage         Sex
0  Afghanistan  1975                 0.5  Both sexes
1  Afghanistan  1975                 0.2        Male
2  Afghanistan  1975                 0.8      Female
3  Afghanistan  1976                 0.5  Both sexes
4  Afghanistan  1976                 0.2        Male

In [27]:
clean_df = clean_df.loc[clean_df['Sex'] == 'Both sexes']

In [28]:
clean_df.head()

        Country  Year  Obesity_percentage         Sex
0   Afghanistan  1975                 0.5  Both sexes
3   Afghanistan  1976                 0.5  Both sexes
6   Afghanistan  1977                 0.6  Both sexes
9   Afghanistan  1978                 0.6  Both sexes
12  Afghanistan  1979                 0.6  Both sexes

In [29]:
clean_df['Country'].nunique()

191

In [30]:
gdp['Country Name'].nunique()

252

In [31]:
gdp.rename(columns = {"Country Name" : "Country"}, inplace = True)

In [32]:
gdp

                Country Country Code variable         value
2           Afghanistan          AFG     1960  5.377778e+08
11            Australia          AUS     1960  1.856759e+10
12              Austria          AUT     1960  6.592694e+09
14              Burundi          BDI     1960  1.960000e+08
15              Belgium          BEL     1960  1.165872e+10
...                 ...          ...      ...           ...
14778             Samoa          WSM     2015  7.610379e+08
14780      South Africa          ZAF     2015  3.127980e+11
14781  Congo, Dem. Rep.          COD     2015  3.523774e+10
14782            Zambia          ZMB     2015  2.120156e+10
14783          Zimbabwe          ZWE     2015  1.389294e+10

[11214 rows x 4 columns]

In [33]:
gdp['variable'].dropna()

2        1960
11       1960
12       1960
14       1960
15       1960
         ...
14778    2015
14780    2015
14781    2015
14782    2015
14783    2015
Name: variable, Length: 11214, dtype: object

In [34]:
gdp['variable'].unique()

array(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype=object)

In [35]:
gdp['variable'] = gdp['variable'].astype(int)

In [36]:
cleaned_gdp = gdp.loc[gdp['variable'] >= 1975]

In [37]:
cleaned_gdp

                    Country Country Code  variable         value
3961                Andorra          AND      1975  2.201129e+08
3962            Afghanistan          AFG      1975  2.366667e+09
3965             Arab World          ARB      1975  1.156690e+11
3966   United Arab Emirates          ARE      1975  1.472067e+10
3967              Argentina          ARG      1975  5.243865e+10
...                     ...          ...       ...           ...
14778                 Samoa          WSM      2015  7.610379e+08
14780          South Africa          ZAF      2015  3.127980e+11
14781      Congo, Dem. Rep.          COD      2015  3.523774e+10
14782                Zambia          ZMB      2015  2.120156e+10
14783              Zimbabwe          ZWE      2015  1.389294e+10

[8964 rows x 4 columns]

In [38]:
cleaned_gdp = cleaned_gdp.copy()

In [39]:
cleaned_gdp.rename(columns = {"variable" : "Year"}, inplace = True)

In [40]:
clean_df = clean_df.copy()

In [41]:
merged_df = clean_df.merge(cleaned_gdp, on=["Country", "Year"], how="right")

In [42]:
merged_df

,Country,Year,Obesity_percentage,Sex,Country Code,value
0,Afghanistan,1975,0.5,Both sexes,AFG,2.366667e+09
1,Afghanistan,1976,0.5,Both sexes,AFG,2.555556e+09
2,Afghanistan,1977,0.6,Both sexes,AFG,2.953333e+09
3,Afghanistan,1978,0.6,Both sexes,AFG,3.300000e+09
4,Afghanistan,1979,0.6,Both sexes,AFG,3.697940e+09
...,...,...,...,...,...,...
8959,St. Vincent and the Grenadines,2015,NaN,NaN,VCT,7.513733e+08
8960,Vietnam,2015,NaN,NaN,VNM,1.935990e+11
8961,West Bank and Gaza,2015,NaN,NaN,PSE,1.267740e+10
8962,World,2015,NaN,NaN,WLD,7.343360e+13
8963,"Congo, Dem. Rep.",2015,NaN,NaN,COD,3.523774e+10

In [43]:
GDP = merged_df.copy()

In [44]:
GDP = GDP.drop(['Obesity_percentage', 'Sex'],1)
GDP.head()

       Country  Year Country Code         value
0  Afghanistan  1975          AFG  2.366667e+09
1  Afghanistan  1976          AFG  2.555556e+09
2  Afghanistan  1977          AFG  2.953333e+09
3  Afghanistan  1978          AFG  3.300000e+09
4  Afghanistan  1979          AFG  3.697940e+09

In [45]:
Obesity_df = merged_df.copy()
Obesity_df = Obesity_df.drop(['Country Code', 'value'],1)
Obesity_df.head()

       Country  Year  Obesity_percentage         Sex
0  Afghanistan  1975                 0.5  Both sexes
1  Afghanistan  1976                 0.5  Both sexes
2  Afghanistan  1977                 0.6  Both sexes
3  Afghanistan  1978                 0.6  Both sexes
4  Afghanistan  1979                 0.6  Both sexes

In [46]:
GDP.to_csv('GDP.csv')
Obesity_df.to_csv('Obesity.csv')