In [36]:
import pandas as pd

In [38]:
data = pd.read_csv("Country GDP by year in USD 1960 to 2015.csv")

In [39]:
data = data.melt(col_level=0, id_vars=["Country Name", "Country Code"])

In [35]:
data.head()

  Country Name Country Code variable        value
0        Aruba          ABW     1960          NaN
1      Andorra          AND     1960          NaN
2  Afghanistan          AFG     1960  537777811.9
3       Angola          AGO     1960          NaN
4      Albania          ALB     1960          NaN